.amimoves__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 0rem;
}

.amimoves__header img{
    display: flex;
    width: 100%;
}

.amimoves__header-onPicText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.amimoves__header-onPicText h1, h2{
    display: flex;
}